.navbar {
   background-color: #000;
   width:100%;
   height: 100%;
}

.navbr-menu {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
text-decoration: none;
font-size: 30px;
color:#fff;

}

.nav-item{
    list-style: none;
    display: inline-block;
    margin-right: 150px;


}